<div class="container mt-5">
  <div class="card shadow mb-4">
  <div class="card-body">
  <table class="table table-striped">
  <tr> <th>Id</th><th>Nom</th> <th>Description</th> </tr>
  <tbody *ngFor="let marque of marques">
  <tr >
  <td>{{marque.idMarque}}</td>
  <td>{{marque.nomMarque}}</td>
  <td>{{marque.descriptionMarque}}</td>
  <td><a  *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerMarque(marque)">Supprimer</a></td>
  <td><a  *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateMarque',marque.idMarque]">Modifier</a>

  </td>

  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
