<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
    <div *ngIf="authService.isAdmin()" class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <app-my-new-update-marque  [marque]="updatedMarq"
      (marqueUpdated)= "marqueUpdated($event)"
      [ajout]="ajout" ></app-my-new-update-marque>
      </div>
  <table class="table table-striped">
  <thead>
  <tr> <th>Id</th><th>Nom Marque</th> <th>Description Marque</th></tr>
  </thead>
  <tbody *ngFor="let marq of marques">
  <tr>
  <td>{{marq.idMarque}}</td>
  <td>{{marq.nomMarque}}</td>
  <td>{{marq.descriptionMarque}}</td>
  <td><a *ngIf="authService.isAdmin()" class="btn btn-success" (click)="updateMarq(marq)">Editer</a></td>


  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
